{% extends 'dashboard/base.html' %}
{% load static %}

{% block css_extra %}
{{block.super}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />  

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.4.1/css/scroller.bootstrap5.css">


{% endblock css_extra %}



{% block content %}

<style>
    .items-table{
       list-style: none;
    }
</style>
    
<div class="container-fluid">

    {% for message in messages %}

  
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg></button>
    </div>
    
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Ups! Ha habido un error </strong> 
    <b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg></button></b>
  </div>
  {% endif %}
    
  {% endfor %}
  <div class="row">
    <div class="alert alert-light col-4" role="alert">
        <h4>Paciente: {{patient.first_name}} {{patient.last_name}}</h4>
      </div>
  </div>

        <table id="appointments" class="hover row-border" >
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Signos vitales</th>
                    <th>Diagnóstico inicial</th>
                    <th>Prescripción</th>
                    <th>Certificados</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}          
                <tr >
                    <td>{{appointment.appointment_date_generated}}</td>
                    <td>
                        <ul >
                            <li style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
                              </svg> {{appointment.blood_pressure|default_if_none:"" }} mmHg</li>
                            <li style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5"/>
                                <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z"/>
                              </svg> {{appointment.blood_pressure|default_if_none:"" }} LPM</li>
                              <li style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
                                <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415"/>
                                <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"/>
                              </svg> {{appointment.temperature|default_if_none:"" }} ºC</li>
                              <li style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lungs-fill" viewBox="0 0 16 16">
                                <path d="M8 1a.5.5 0 0 1 .5.5v5.243L9 7.1V4.72C9 3.77 9.77 3 10.72 3c.524 0 1.023.27 1.443.592.431.332.847.773 1.216 1.229.736.908 1.347 1.946 1.58 2.48.176.405.393 1.16.556 2.011.165.857.283 1.857.24 2.759-.04.867-.232 1.79-.837 2.33-.67.6-1.622.556-2.741-.004l-1.795-.897A2.5 2.5 0 0 1 9 11.264V8.329l-1-.715-1 .715V7.214c-.1 0-.202.03-.29.093l-2.5 1.786a.5.5 0 1 0 .58.814L7 8.329v2.935A2.5 2.5 0 0 1 5.618 13.5l-1.795.897c-1.12.56-2.07.603-2.741.004-.605-.54-.798-1.463-.838-2.33-.042-.902.076-1.902.24-2.759.164-.852.38-1.606.558-2.012.232-.533.843-1.571 1.579-2.479.37-.456.785-.897 1.216-1.229C4.257 3.27 4.756 3 5.28 3 6.23 3 7 3.77 7 4.72V7.1l.5-.357V1.5A.5.5 0 0 1 8 1m3.21 8.907a.5.5 0 1 0 .58-.814l-2.5-1.786A.5.5 0 0 0 9 7.214V8.33z"/>
                              </svg> {{appointment.breathing_frequency|default_if_none:"" }} rpm

                              </li>
                              <li style="list-style: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                    <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                  </svg> {{appointment.oxygen_saturation|default_if_none:"" }} %
                              </li>

                </ul>
                </td>
                    
                    <td><ul>
                        <li style="list-style: none;">{{appointment.diagnosis_type}} {{appointment.cie10_code}}</li>
                        <li style="list-style: none;">{{appointment.diagnoses|default_if_none:"" }}</li>
                    </ul></td>
                    <td><ul >
                        <li class="items-table" ><span class="text-primary  ">Diagnóstico / Complicaciones:</span>  {{appointment.diagnoses_complications|default_if_none:"" }}</li>
                        <li class="items-table">  <span class="text-primary ">Procedimientos: </span>{{appointment.procedures|default_if_none:"" }}</li>
                        <li class="items-table"><span class="text-primary ">Prescripciones:  </span> {{appointment.prescriptions|default_if_none:"" }}</li>
                    </ul></td>
                    <td>
                        <a href="{% url 'appointment-pdf-create' pk=patient_id pk_appointment=appointment.id %}"><button class="btn btn-secondary " type="button" >Generar</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Fecha</th>
                    <th>Signos vitales</th>
                    <th>Diagnóstico inicial</th>
                    <th>Prescripción</th>
                    <th>Certificados</th>

                </tr>
            </tfoot>
        </table>


        <button class="button-add">
            <a href="{% url 'appointment-create' patient_id %}">
    
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Nueva sesión
                </span>
            </a>
          </button>
       

    
</div>




    
{% endblock content %}


{% block js_extra %}
{{block.super}}

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!-- <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/scroller/2.4.1/js/dataTables.scroller.js"></script>
<script src="https://cdn.datatables.net/scroller/2.4.1/js/scroller.bootstrap5.js"></script>

<script >
    new DataTable('#appointments', {
        columnDefs: [
      {
          targets: 4,
          orderable: false,
      },

  ],

         autowidth: false,
        columns: [{ width: '10%' }, { width: '20%' }, { width: '20%' }, { width: '35%' }, { width: '15%' }],
        pagingType: 'simple_numbers',
  language: {
        url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json',
    },
    columnDefs: [
            {
                targets: 0, // Indica la primera columna (la de las fechas)
                render: function(data, type, row, meta) {
                    let date = new Date(data);
                    let day = date.getDate();
                    let month = date.getMonth() + 1; // Los meses son base 0, así que sumamos 1
                    let year = date.getFullYear();
                    return (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;
                }
            }
        ]
});


    </script>
    
{% endblock js_extra %}
    


    
