.button-add {
    border: 2px solid #118ab2;
    background-color: #073b4c;
    border-radius: 0.9em;
    padding: 0.5rem;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .button-add span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .button-add:hover {
    background-color: #06d6a0;
   }