{% load static %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

           <div class="col-lg-8 col-12 mx-auto slogan">
                <h1 class="text-white text-center">Sonrie..</h1>

                <h6 class="text-center">Antes que te falte un diente</h6>


            </div> 
            <!-- <div class="container-card">
                <div class="box">
                  <span class="title">TU SALUD</span>
                  <div>
                    <strong>NUESTRA PRIORIDAD</strong>
                  </div>
                </div>
              </div> -->

        </div>
    </div>
</section>