{% extends 'dashboard/base.html' %}
{% load static %}
{% load custom_filters %}



{% block content %}

<div class="container">

    <button class="button-add">
        <a href="{% url 'patient-read' %}">

            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                  </svg> Regresar
            </span>
        </a>
      </button>


    <h3 class="text-center">Antecedentes médicos del paciente</h3>



    <div class="card sticky-top w-75 mb-3">
      <div class="card-body p-3">
            <div class="d-flex flex-column h-100">
              <h5 class="font-weight-bolder">DATOS DEL PACIENTE</h5>
              <p class="mb-1 pt-2 text-bold">Nombre: {{patient.first_name}} {{patient.last_name}}</p>
              <p class="mb-1 pt-2 text-bold">Fecha de nacimiento: {{patient.birthDate}}</p>
              <p class="mb-1 pt-2 text-bold">Alergias: {{patients.allergy}}</p>
              <p class="mb-1 pt-2 text-bold">Enfermedades previas: {{patients.diseases}}</p>
              <p class="mb-1 pt-2 text-bold">Medicamentos: {{patients.medicines}}</p>
              <p class="mb-1 pt-2 text-bold">Información adicional: {{patients.additional_info}}</p>
              
            </div>
  
      </div>
    </div>


  <button class="button-add">

    <a href="{% url 'history-update' pk=patients.id %}">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg> Editar  
        </span>
    </a>
  </button>
</div>







{% endblock content %}