{% extends 'appointment/base.html' %}
{% load static %}
{% load custom_filters %}


<!-- ! Cargando CSS personalizado -->
{% block css_extra %}
{{block.super}}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />  

{% endblock css_extra %}
 


{% block content %}


<div class="container">

    {% for message in messages %}
  
    
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg></button>
    </div>
    
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Ups! Ha habido un error al actualizar</strong> 
    <b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg></button></b>
  </div>
  {% endif %}
    
  {% endfor %}

    <button class="button-add">
        <a href="{% url 'patient-create' %}">

            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Nuevo paciente
            </span>
        </a>
      </button>

<table id="patients" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        
        {% for patient in patients %}
            

            
        <tr>
            <td>{{patient.last_name}}</td>
            <td> {{patient.birthDate}}</td>
            <td>{{patient.phone}}</td>
            <td><button type="button" class="btn btn-outline-secondary">Editar</button>

                <button type="button" class="btn btn-outline-danger">Eliminar</button>
                <button type="button" class="btn btn-outline-danger">Ficha Médica</button></td>


        </tr>
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Acciones</th>

        </tr>
    </tfoot>
</table>

</div>

{% endblock content %}

<!-- ! Cargando JS personalizado -->

{% block js_extra %}

{{block.super}}

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<!-- <script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script> -->

<script >
    new DataTable('#patients', {
  columnDefs: [
      {
          targets: 4,
          render: DataTable.render.datetime('Do MMM YYYY'),
          
      }
      
  ],
  language: {
        url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json',
    },
});
    </script>
    
{% endblock js_extra %}
    


